.purpel-color{
  color: red;
}
body{
  font-family: Sans-Serif;
  color: #000;
  line-height: 40px;
}
.half-width{
  width: 50%;
  float: left;
 
}
.side-img{
  width: 50%;
  padding-left: 25%;
}
.btn{
  color: #ffffff;
  background-color: rgb(221,110,15);
  padding: 13px 20px 12px 18px;
  border-radius: 20px;
  text-decoration: none;
}
h1{
  font-size: 2.5em;
}
.w{
  color: green;
}
.container{
  padding-left: 5px;
  display: inline-block;
}
.experience{
  padding: 30px;
    margin: 30px;
      background-color: rgb(238,251,255);
    border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
  
}
.experience-item{
  border-left: 2px solid rgba(137,130,247,.2);
}
.ep{
  color: #00ff00;
}
.footer{
  color: #808080;
}
.p{
  position: relative;
  left: 50%;
}
